<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nor.cs.activity.mapper.ActivityInfoMapper">

    <resultMap id="ActivityRuleMap" type="com.nor.cs.model.activity.ActivityRule" autoMapping="true"></resultMap>
    
    <select id="selectSkuIdInActivity" resultType="Long">
        SELECT ak.sku_id
        FROM activity_info ai
        INNER JOIN
        activity_sku ak ON ai.id = ak.activity_id
        <where>
            <if test="skuIdList != null">
                AND ak.sku_id IN 
                <foreach collection="skuIdList" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        AND now() BETWEEN ai.start_time AND ai.end_time
    </select>
    
    
    
    <select id="selectActivityRule" resultMap="ActivityRuleMap">
        select
            info.activity_type as activityType,
            rule.id,rule.activity_id,rule.condition_amount,rule.condition_num,rule.benefit_amount,rule.benefit_discount
        from activity_info info
                 inner join activity_sku sku on info.id=sku.activity_id
                 inner join activity_rule rule on info.id = rule.activity_id
        where sku.sku_id = #{skuId}
          and now() between info.start_time and info.end_time
        order by rule.condition_amount desc 
    </select>
</mapper>
